h1 {
  font-size: 26px;
  margin: 20px;
}

.span-0 {
  background-color: darkred;
  width: 100px;
  height: 60px;
  padding: 20px;
  border: 5px solid black;
  margin: 20px;
}

.span-1 {
  display: inline-block;
  background-color: darkred;
  width: 100px;
  height: 60px;
  padding: 20px;
  border: 5px double black;
  margin: 20px;
}

.span-2 {
  display: inline-block;
  background-color: darkred;
  width: 100px;
  height: 60px;
  padding: 20px;
  border: 5px dashed black;
  margin: 20px;
}

.span-3 {
  display: inline-block;
  background-color: darkred;
  width: 100px;
  height: 60px;
  padding: 20px;
  border: 5px dotted black;
  margin: 20px;
}

.span-4 {
  display: inline-block;
  background-color: darkred;
  width: 100px;
  height: 60px;
  padding: 20px;
  border: 5px none black;
  margin: 20px;
}
.main-box {
  background-color: red;
  color: white;
  width: 225px;
  padding: 20px;
  border-top: 15px solid blue;
  border-right: 15px solid gray;
  border-bottom: 15px solid yellow;
  border-left: 15px solid green;
  margin: 10px 20px;
  box-shadow: 0 0 0 20px purple;
}
